<div class="inline" style="background: #f5f5f5;width:150px;height:600px">
  <div style="background: #f4c337;width:150px;height:50px">
    <img style="width:80px; height:30px; margin:10px" src="/media/Images/mdoc.png">
  </div>
</div>
<div class="toolbar card-1">
  <input class="element" #myInput placeholder="Search Library" [(ngModel)]="category" (input)="filterItem(myInput.value)" />
</div>
<div style="width: 80%; height: 50px">
  <div class="inline element">
    <select class="select-dropdown" [(ngModel)]="genre" (ngModelChange)="onSelectGenre(genre)">
      <option disabled selected [value]="x">Genre</option>
      <option *ngFor="let genreDrop of genres" [value]="genreDrop">
        {{ genreDrop }}
      </option>
    </select>
  </div>
  <div>{{ selected }}</div>
  <div class="inline element">
    <select class="select-dropdown" [(ngModel)]="country" (ngModelChange)="onSelectCountry(country)">
      <option disabled selected [value]="x">Country</option>
      <option *ngFor="let countryDrop of countries" [value]="countryDrop">
        {{ countryDrop }}
      </option>
    </select>
  </div>
  <div class="inline element">
    <select class="select-dropdown" [(ngModel)]="sort" (ngModelChange)="onSelectSortOrder()">
      <option selected>Sort by: newest first</option>
      <option>Sort by: oldest first</option>
    </select>
  </div>
  <div class="right select-all-button">
    <label class="switch">
      <input type="checkbox" (click)="selectAll()">
      <span class="slider round"></span>
    </label>
  </div>
  <div style="margin: 15px" class="right">Select all</div>
</div>
<div class="right" style=width:150px;height:600px>
  <div class="graymenu">
    <button style="margin: auto; width: 100px; height: 30px;color: white; background: rgb(85, 173, 231)" (click)="publish()">Publish</button>
  </div>
</div>

<div>
  <div class="gallery">
    <span *ngFor="let item of filteredItems">
      <img style="height: 222px; width: 222px;" (click)="itemSelected($event, item)" [src]='item.url'>
    </span>
  </div>
</div>